.slick-slider {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 170px;
    background-color: #fff;
}


.slick__image {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 29px;
        width: 85px;
        height: 85px;
    }

.slick__text-thumb {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 43px;
        padding-bottom: 26px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: #fafafa;
    }

.slick__text {
        position: relative;
        z-index: 2;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 2.58;
        color: #000000;

        text-align: center;
        letter-spacing: 0.04em;

        background-image: repeating-linear-gradient(to top,
                #e1e1e1,
                #e1e1e1 1px,
                #fafafa 1px,
                #fafafa 31px);
    }

.slick__text::before {
        content: '';
        position: absolute;
        top: -14px;
        left: -32px;
        width: 54px;
        height: 40px;
        background-image: url(../slider/“.svg);
        z-index: -1;
    }

.slick__text::after {
        content: '';

        position: absolute;
        bottom: -48px;
        left: 45%;
        width: 32px;
        height: 4px;

        background-image: url(../slider/dots.svg);
    }

.slick__label {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        font-family: 'DM Sans',
            sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
        color: #000000;
        text-align: center;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-dots li {
        list-style: none;
    }

    .slick-dots li:not(:first-child) button {
        font-size: 0;
        width: 12px;
        height: 12px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 50%;
        margin-right: 18px;
    }

    .slick-dots li.slick-active button {
        background-color: #d31342;
    }

    .slick-dots li:first-child button {
        font-size: 0;
        width: 13px;
        height: 12px;

        background-image: url(../slider/home2.svg);
        background-size: cover;
        background-origin: padding-box;
        border: none;
        margin-right: 18px;
        background-color: transparent;
    }

    .slick-dots li.slick-active:first-child button {
        font-size: 0;
        width: 13px;
        height: 12px;

        background-image: url(../slider/home.svg);
        background-size: cover;
        background-origin: padding-box;
        border: none;
        margin-right: 18px;
        background-color: transparent;
    }

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}